@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap');
body {
    background-color: #bbaa99;
    background-image: url("https://sasweb.confa.co:8322/saludSasWebHC/jakarta.faces.resource/images/login/salud.jpg.xhtml?ln=ultima-layout");   
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    font-family: poppins, sans-serif;

}

nav.controls{
    a:is(:link, :visited){
        border-radius: 50px;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: #000;
        height: 40px;
        transform: scale(0.8);
        opacity: 0.6;
        padding: 13px;
        width: 40px;
        transition: all 0.4s ease-in;
        
    }
}

 main {
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: .6rem;
    min-height: 100vh;

    header {
        padding: 10px;
        display: flex;
        flex-direction: column;
        align-items: center;

         .caja-confa{
            background-color: #fff;
            background-image: url("../../images/arquitectura_marca.jpg");
            padding: 30px;
            background-repeat: no-repeat;
            background-size: 100%;
            border-radius: 10px;
            min-width: 505px;
            max-width: 50%;

            h1 {
                font-size: 3.5rem;
                font-weight: 400;
                font-family: sans-serif;
                text-align: center;
                margin: 0;
                color: #03A9F4;
            }
        }
        

    }

    menu {
    display: flex;
    flex-direction: column;
    gap: 1rem;

    a:is(:link, :visited) {
        background-color: #0009;
        border-radius: 50px;
        display: flex;
        color:#fffd;
        gap: 1rem;
        align-items: center;
        padding: 1rem;
        text-decoration: none;
        transition: all 0.3s ease-in;
        width: 280px;

        i {
            background-color: rgb(255, 255, 255);
            border-radius: 20px;
            color: rgb(0, 0, 0);
            font-style: normal;
            display: flex;
            align-items: center;
            justify-content: center;
            height: 34px;
            width: 34PX;
        }
    }

    a:is(:hover) {
        transform: translate(-10px);
        background-color: rgb(0, 183, 255);
    }

    a:is(:hover) i {
        transform: scale(1.4);
    }

    a.disabled{
        opacity: 0.4;
        cursor: not-allowed;
    }
}

.contenido {
        background-color: #fff;
        margin: 0 50px;
        width: 80%;
        height: auto;
        min-height: 30rem;
        border-radius: 10px;
        display: flex;
        flex-direction: column;
        padding: 30px;
        
        h2 {
            margin-left: 35px;
            font-size: 2rem;
            font-weight: bold;
            color: #03A9F4;
            margin-bottom: 0;
        }

        p {
            font-size: 1.3rem;
            margin: 25px;
        }

        ul {
            margin: 0px 25px;
        }

        img {
            margin: 25px auto;
            max-width: 1400px;
        }
    }
}